body{
    font-family:sans-serif;
}
#main{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selections{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    height: 100px;
    width: 500px;
    background-color: greenyellow;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 10px;
    height: 75px;
    width: 150px;
}
.btnText{
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}